<div id="<%= dom_id crew %>">
  <p>
    <strong>Name:</strong>
    <%= crew.name %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= crew.instrument %>
  </p>

  <p>
    <strong>Band:</strong>
    <%= crew.band_id %>
  </p>

</div>
